// Place all the styles related to the Voting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
}

.choice {
  flex: 1;
  text-align: center;

  .name {
    font-size: 1.5rem;
  }

  .picture {
    margin: 2em 0;
  }
}