<div>
  <%= turbo_stream_from "chocolates_#{@names_visible ? "secret" : "public"}" %>
  <%= render partial: 'ranking_table', locals: { names_visible: @names_visible, chocolates: @chocolates} %>
</div>
