<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Rating</th>
  </tr>
  <% @chocolates.each do |rank, chocolate| %>
    <tr>
      <td><%= ActiveSupport::Inflector.ordinalize(rank) %></td>
      <td><%= link_to(chocolate.name, chocolate_path(chocolate)) %></td>
      <td><%= chocolate.ranking %></td>
    </tr>
  <% end %>
</table>